{% extends "bootstrap/base.html" %}

{% block content %}
  <div class="container">
    <h2>Grading: {{ filename }}</h2>
    <!-- Submission Block -->
    <div>
        <h4>Submission:</h4>
        <pre>{% for line in code.split("\n") %}{% if loop.index in errors %}<span class="highlight-error">{{ line }} <span class="error-message">[{{ errors[loop.index] }}]</span></span>{% else %}{{ line }}{% endif %}{% if not loop.last %}<br>{% endif %}{% endfor %}</pre>
    </div>

    <!-- Feedback Block -->
    <div>
        <h4>Feedback:</h4>
        <pre>{{ feedback }}</pre>
    </div>

    <form method="POST">
        <button type="submit" name="action" value="prev" class="btn btn-secondary" {% if session['index'] == 0 %} disabled {% endif %}>Previous Submission</button>
        <span class="mx-3">Submission {{ session['index'] + 1 }} of {{ total }}</span>
        <button type="submit" name="action" value="next" class="btn btn-primary" {% if session['index'] == total - 1 %} disabled {% endif %}>Next Submission</button>
    </form>
  </div>
{% endblock %}
