{% extends "bootstrap/base.html" %}

{% block content %}
  <div class="container">
    <h2>Enter Task Details</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.task_description.label }}
        {{ form.task_description(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.key_points.label }}
        {{ form.key_points(class="form-control") }}
      </div>
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
{% endblock %}
